.icon {
    height: 16px;
    width: 16px;
}

img.img-responsive {
    width: 100%;
    height: 100%;
}

.p-6 {
    padding: 4rem !important;
}

svg.wave {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    pointer-events: none;
    top: 2px;
}

#banner-principal .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

img.img-destaque-produto:hover {
    filter: brightness(0.5);
}

.contato a {
    text-decoration: none;
}

#svg-map path {
    fill: #ededef
}

#svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
    cursor: pointer
}

#svg-map a {
    text-decoration: none
}

#svg-map a.svg-est.active:hover {
    cursor: pointer;
    text-decoration: none
}

#svg-map a.svg-est.active:hover path {
    fill: #0b5ed7 !important
}

#svg-map .circle {
    fill: #ededef
}

#svg-map a.svg-est.active:hover .circle {
    fill: #0b5ed7 !important;
    cursor: pointer
}

.choices__inner {
    border-radius: 5px !important;
    background-color: #fff !important;
    min-height: 38px !important;
    padding: 2.5px 7.5px 3.75px !important;
}

section.wave svg.wave {
    top: 0px;
}

.text-right {
    text-align: right;
}

.area-atuacao li {
    color: #0d6efd;
}

#loader {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: #0b5ed7 !important;
    background-color: #000;
    opacity: 0.7;
    display: none;
}

.spinner-loader {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 120px;
    height: 120px;
    z-index: 1001;
    color: #0b5ed7 !important;
}

.text-title {
    color: #000 !important;
}

div#consulta-admin .filter {
    padding: 0px !important;
}

@media (max-width: 778px) {
    svg.wave {
        top: 4px;
    }

    .linha path {
        stroke-width: 20px;
        stroke-dasharray: 14 14;
    }

    footer .d-grid.justify-items-center.justify-content-start {
        justify-content: center !important;
    }
}

#aviso-cookies {
    z-index: 100000;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 7px rgb(0 0 0 / 50%);
    justify-content: center;
    align-items: center
}

span#texto-cookies {
    padding-right: 20px;
}

img.logo-footer {
    margin-left: 18px;
}

img.icon-link-hover:hover {
    filter: brightness(1.5);
}

a.link-sistema {
    max-width: 35px;
}

.justify-items-center {
    justify-items: center !important;
}

.nav-link.active {
    color: #0b52bd;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    max-width: 240px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.box {
	overflow: auto;
	max-height: 400px;
}

.btn.btn-primary {
	background-color: #4267b2 !important;
}

.card {
	position: relative;
	width: 100%;
	height: 63px;
	background-color: #ffffff;
	border-radius: 8px;
	overflow: hidden;
}

.card .rectangle {
	position: absolute;
	width: 7px;
	height: 77px;
	top: -7px;
	left: 0;
	background-color: #4267b2;
}

.card .group {
	position: absolute;
	width: 100%;
	height: 17px;
	top: 23px;
	left: 19px;
}

.card .text-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: var(--x-4d-4d-4d);
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

button a {
	color: white;
	text-decoration: none;
}

.btn.btn-primary:hover {
	background-color: #376edf !important;
}

.card.mb-2:hover {
	background-color: #fbfafa;
}

button.btn.btn-dark.pt-2.btn-block {
	width: 100%;
}

.fc .fc-toolbar-title::first-letter {
	text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion::first-letter {
	text-transform: uppercase;
}

.fc .fc-timegrid-axis-cushion::first-letter {
	text-transform: uppercase;
}

.fc .fc-multimonth-title::first-letter {
	text-transform: uppercase;
}

.fc-button-primary {
	background-color: #4267b2!important;
	border: none!important;;
}

.fc-button-primary:hover {
	background-color: #376edf!important;
}

.h-90{
	height: 90%!important;
}

.modal button#voltar {
    display: none;
}

#map {
    height: 60vh;
    width: 100%;
}