<!-- BEGIN BLOCK_CALENDARIO -->
<div class="agenda" id="agenda">
    <div class="px-2">
        {filter}
        <div id='calendar'></div>
        <!-- BEGIN BLOCK_BUTTON -->
        <div class="col-md-12 d-flex justify-content-center mt-2">
            {button}
        </div>
        <!-- END BLOCK_BUTTON -->
    </div>
    <script src='{caminho}assets/js/calendar.min.js'></script>
    <script src="{caminho}assets/js/calendarBootstrap5.min.js"></script>
    <script src='{caminho}assets/js/locales-calendar.min.js'></script>
    <script>
        function loadCalendar(){

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: "auto",
                expandRows: true,
                timeZone: 'local',
                initialDate: "{initial_date}",
                slotMinTime: '{initial_time}',
                slotMaxTime: '{final_time}',
                slotDuration: '{slot_duration}',
                locale: 'pt-br',
                headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay',
                right: 'title'
                },
                initialView: 'timeGridDay',
                longPressDelay: 500,
                eventLongPressDelay: 500,
                selectLongPressDelay: 500,
                hiddenDays: {days_off},
                selectable: true,
                allDaySlot: false,
                dayMaxEvents: true,
                selectOverlap:false,
                eventOverlap:false,
                select: function(arg) {
                let dataAtual = new Date();
                if (arg.start > dataAtual)
                    window.location.href = "{action}" + btoa(arg.start).toString().replace("/","@") + "/" + btoa(arg.end).toString().replace("/","@");
                else{
                    mensagem("Data menor que a data atual")
                    window.scroll({
                    top: 0,
                    left: 0,
                    behavior: "smooth",
                    });
                }
                },
                eventClick: function(arg) {
                if (arg.event.id)
                    window.location.href = "{action}" + arg.event.id;
                }, 
                events: {events}
            });
        
            calendar.render();

            if (window.screen.width < 1000){
                let element = document.querySelector('.fc-toolbar.fc-header-toolbar')
                element.classList.add('row')
                element.classList.add('col-lg-12')
                document.querySelectorAll('.fc-toolbar-chunk').forEach(elements => {
                    elements.classList.add('mt-2')
                    elements.classList.add('mb-2')
                })
            }
        };

        document.addEventListener("DOMContentLoaded", function () {
            loadCalendar();

            document.querySelector(".fc-button").addEventListener("click", function () {
                if (window.screen.width < 1000){
                    let element = document.querySelector('.fc-toolbar.fc-header-toolbar')
                    element.classList.add('row')
                    element.classList.add('col-lg-12')
                    document.querySelectorAll('.fc-toolbar-chunk').forEach(elements => {
                        elements.classList.add('mt-2')
                        elements.classList.add('mb-2')
                    })
                }
            });
        });

        document.body.addEventListener('htmx:afterSettle', function (evt) {
            loadCalendar();

            document.querySelector(".fc-button").addEventListener("click", function () {
                if (window.screen.width < 1000){
                    let element = document.querySelector('.fc-toolbar.fc-header-toolbar')
                    element.classList.add('row')
                    element.classList.add('col-lg-12')
                    document.querySelectorAll('.fc-toolbar-chunk').forEach(elements => {
                        elements.classList.add('mt-2')
                        elements.classList.add('mb-2')
                    })
                }
            });
        });
    </script>
</div>
<!-- END BLOCK_CALENDARIO -->