<section id="banner-{nome}">
    <div id="banner-{nome}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- BEGIN BANNER -->
            <div id="banner-carousel-{nome}" class="carousel-item {active}">
                <a target="_blank" href="{link}">
                    <img class="d-block w-100" src="{imagem}" alt="{alt}" {extra}>
                </a>
            </div>
            <!-- END BANNER -->
            <!-- BEGIN WAVE -->
            <svg class="wave" xmlns="http://www.w3.org/2000/svg" width="1920" height="184.031" viewBox="0 0 1920 184.031">
                <path fill="{wave_color}" id="wave_banner" class="cls-1" d="M1920,698.608s-409.54-179-754.87-114.715C807.357,650.5,486.625,827.623,0,658v96H1920V698.608Z" transform="translate(0 -569.969)"></path>
            </svg>
            <!-- END WAVE -->
        </div>
    </div>
</section>