                    <footer class="row w-100 p-5">
                        <!-- BEGIN LOGO_FOOTER -->
                        <div class="col-md-{tamanho_logo} d-grid justify-items-center justify-content-start">
                            <a href="/" class="mb-3 link-body-emphasis text-decoration-none">
                                <img class="logo-footer" src="{logo}" alt="logo">
                            </a>
                            <p class="text-body-secondary">© Romão Alimentos {ano}</p>
                            <a class="link-sistema" href="https://romaoalimentos.sistemaswebsc.com.br/" target="_blank">
                                <img class="icon-link-hover" src="{caminho}/assets/imagens/icones/sitema.png" width="35" height="65" alt="icone-sistema">
                            </a>
                        </div>
                        <!-- END LOGO_FOOTER -->
                        <!-- BEGIN SECTION_FOOTER -->
                        <div class="col-md-{tamanho}">
                            <h5>{titulo}</h5>
                            <ul class="nav flex-column">
                                <!-- BEGIN LINK_FOOTER -->
                                    <li class="nav-item mb-2">
                                        <a href="{link}" class="nav-link p-0 text-body-secondaty {ativo}" {extra}>{titulo}</a>
                                    </li>
                                <!-- END LINK_FOOTER -->
                            </ul>
                        </div>
                        <!-- END SECTION_FOOTER -->
                    </footer>
                    <script src="{caminho}assets/js/htmx.min.js"></script>
                    <script src="{caminho}assets/js/all.min.js"></script>
                    <script src="{caminho}assets/js/bootstrap.bundle.min.js"></script>
                </div>
            </div>
        </main>
    </body>
</html>