                    <footer class="row w-100 p-5">
                        <!-- BEGIN LOGO_FOOTER -->
                        <div class="col-md-{tamanho_logo} d-grid justify-items-center justify-content-start align-content-center">
                            <a href="/" class="link-body-emphasis text-decoration-none">
                                <img class="w-100 logo-footer" src="{logo}" alt="logo">
                            </a>
                            <p class="text-body-secondary">© CalendarNow {ano}</p>
                        </div>
                        <!-- END LOGO_FOOTER -->
                        <!-- BEGIN SECTION_FOOTER -->
                        <div class="col-md-{tamanho}">
                            <h5>{titulo}</h5>
                            <ul class="nav flex-column">
                                <!-- BEGIN LINK_FOOTER -->
                                    <li class="nav-item mb-2">
                                        <a href="{link}" class="nav-link p-0 text-body-secondaty {ativo}" {extra}>{titulo}</a>
                                    </li>
                                <!-- END LINK_FOOTER -->
                            </ul>
                        </div>
                        <!-- END SECTION_FOOTER -->
                    </footer>
                    <script src="{caminho}assets/js/htmx.min.js"></script>
                    <script src="{caminho}assets/js/all.min.js"></script>
                    <script src="{caminho}assets/js/bootstrap.bundle.min.js"></script>
                    <script src="{caminho}assets/js/choices.min.js"></script>
                    <script src="{caminho}assets/js/main.js"></script>
                    <script type="text/javascript" async="" charset="utf-8" src="https://www.gstatic.com/recaptcha/releases/lqsTZ5beIbCkK4uGEGv9JmUR/recaptcha__pt.js" crossorigin="anonymous" integrity="sha384-N+f2WZG0Rc9lAv461Oo9QnqXStFP00OHx89ofUUSrEVKlpLQmOp4ySJfk55JfIjk"></script>
                    <script>
                        if ('serviceWorker' in navigator) {
                            navigator.serviceWorker.register("{caminho}assets/app/sw.js");
                        }
                    </script>
                </div>
            </div>
        </main>
    </body>
</html>