<!-- BEGIN BLOCK_INPUT_TRES -->
<div class="row mt-2">
    <div class="col-md-4">
        <div class="form-group {nome_um}">
            {block_tres_input}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group {nome_dois}">
            {block_tres_input_dois}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group {nome_tres}">
            {block_tres_input_tres}
        </div>
    </div>
</div>
<!-- END BLOCK_INPUT_TRES -->
<!-- BEGIN BLOCK_INPUT_DOIS -->
<div class="row mt-2">
    <div class="col-md-6">
        <div class="form-group {nome_um}">
            {block_dois_input}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group {nome_dois}">
            {block_dois_input_dois}
        </div>
    </div>
</div>
<!-- END BLOCK_INPUT_DOIS -->
<!-- BEGIN BLOCK_INPUT -->
<div class="row mt-2">
    <div class="col-md-12">
        <div class="form-group {nome}">
            {block_um_input}
        </div>
    </div>
</div>
<!-- END BLOCK_INPUT -->
<!-- BEGIN BLOCK_CUSTOM -->
<div class="row mt-2 {extra_class}">
    <!-- BEGIN BLOCK_DIV -->
        <div class="col-md-{tamanho}">
            <div class="form-group {nome}">
                <!-- BEGIN BLOCK_INPUT_CUSTOM -->
                {block_um_input}
                <!-- END BLOCK_INPUT_CUSTOM -->
            </div>
        </div>
    <!-- END BLOCK_DIV -->
</div>
<!-- END BLOCK_CUSTOM -->


