<section class="container">
    <h1 class="fw-normal text-title mt-4 mb-4">{titulo}</h1>    
    <div class="box">   
        <!-- BEGIN BLOCK_LISTA -->     
            <div class="card mb-2" onclick="go('{url_objeto}')">   
                <div class="rectangle"></div>
                    <div class="group"><div class="text-wrapper">{titulo_objeto}</div>
                </div>
            </div>
         <!-- END BLOCK_LISTA -->      
        <!-- BEGIN BLOCK_NO_LISTA -->     
            <div class="card mb-2" >   
                <div class="group">
                    <div class="text-wrapper">Sem Registros</div>
                </div>
            </div>
        <!-- END BLOCK_NO_LISTA -->       
    </div>
    <!-- BEGIN BLOCK_BUTTONS -->  
        <div class="col-md-12 d-flex justify-content-center mt-2"> 
            {button}
        </div>
    <!-- END BLOCK_BUTTONS --> 
</section>
<div class="fixed-bottom mt-0">
    {mensagem}
</div>