<div class="fixed-top mt-0">
    {mensagem}
</div>
<section class="login col-md-12 d-flex justify-content-center pt-5 mt-5">
    <div class="col-md-3 d-flex flex-column align-items-center">
        <div class="row w-100 mt-5">
            <img src="{caminho}assets\imagens\logo_grande.webp" alt="logo">
        </div>
        <div class="row w-100 mt-5">
            <form method="POST" action="{caminho}{action_login}">
                <div class="col-md-12">
                    <input type="hidden" id="g-recaptcha-login-response" name="g-recaptcha-login-response" value="">
                    <label for="usuario">CPF/CNPJ ou E-mail:</label>
                    <input type="text" class="form-control mt-1" name="usuario" id="usuario" value="{usuario}" required/>     
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control mt-1" name="senha"  id="senha" value="{senha}" required/>
                    <a href="{caminho}{action_esqueci}">Esqueci minha senha</a>
                </div>
                <div class="col-md-12 mt-5 d-flex justify-content-center">
                    <div class="row w-50">
                        <input type="submit" class="btn btn-primary" value="ENTRAR"/> 
                        <span class="mt-2 p-0"><a href="{caminho}{action_cadastro_usuario}">Cadastre-se</a> ou <a href="{caminho}{action_cadastro_empresa}">Adicione sua agenda</a></span>
                    </div>
                </div>    
            </form>  
        </div>
    </div>
    {recapcha}
</section>