<section class="privacidade">
    <div class="container">
        <div class="col-md-12">
            <h1 class="mb-5 mt-5 fw-normal text-title lh-1 text-center">Política de Privacidade e Termos de Uso</h1>
            <h2 class="mb-5 mt-5 fw-normal text-title lh-1">Política de Privacidade</h2>
            <p>Este site é mantido e operado por {empresa->nome}</p>
            <p>Nós coletamos e utilizamos alguns dados pessoais que pertencem
                àqueles que utilizam nosso site. Ao fazê-lo, agimos na
                qualidade de controlador desses dados e estamos sujeitos às
                disposições da Lei Federal n. 13.709/2018 (Lei Geral de
                Proteção de Dados Pessoais - LGPD). </p>
            <p>Nós cuidamos da
                proteção de seus dados pessoais e, por isso,
                disponibilizamos esta política de privacidade, que contém
                informações importantes sobre: </p>
            <p>- Quem deve utilizar nosso site; </p>
            <p>- Quais dados coletamos e o que fazemos com eles; </p>
            <p>- Seus direitos em relação aos seus dados pessoais; e </p>
            <p>- Como entrar em contato conosco. </p>
            <h3 class="mb-3 fw-normal text-title lh-1">1. Dados que coletamos e motivos da coleta</h3> 
            <p>Nosso site coleta e utiliza alguns dados pessoais de
                nossos usuários, de acordo com o disposto nesta seção.
            </p>
            <h4 class="mb-3 fw-normal text-title lh-1">1.1. Dados pessoais fornecidos expressamente pelo usuário:</h4>
            <p>Nós coletamos os seguintes dados pessoais que nossos
                usuários nos fornecem expressamente ao utilizar nosso site:
            </p>
            <p>- Nome, e-mail, telefone e cidade. </p>
            <p>A coleta destes dados ocorre nos seguintes momentos: </p>
            <p>- Ao preencher o formulário da página de contato e o formulário para recebimento de newsletter. </p>
            <p>Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades: </p>
            <p>- Para envio de respostas via formulário de contato; </p>
            <p>- Para envio de novidades e lançamentos. </p>
            <h4 class="mb-3 fw-normal text-title lh-1">1.2. Dados pessoais obtidos de outras formas:</h4>
            <p>Nós coletamos os seguintes dados pessoais de nossos usuários: </p>
            <p>- Dados de navegação obtidos por meio de cookies. </p>
            <p>A coleta destes dados ocorre nos seguintes momentos: </p>
            <p>- Quando o usuário faz login na área interna do site; </p>
            <p>- Quando o usuário seleciona um produto. </p>
            <p>Estes dados são coletados com as seguintes finalidades: </p>
            <p>- Personalizar e otimizar a experiência do usuário.</p>
            <h4 class="mb-3 fw-normal text-title lh-1">1.3. Dados sensíveis</h4>
            <p>Não serão coletados dados sensíveis de nossos usuários,
                assim entendidos aqueles definidos nos arts. 11 e seguintes
                da Lei de Proteção de Dados Pessoais. Assim, não haverá
                coleta de dados sobre origem racial ou étnica, convicção
                religiosa, opinião política, filiação a sindicato ou a
                organização de caráter religioso, filosófico ou político,
                dado referente à saúde ou à vida sexual, dado genético ou
                biométrico, quando vinculado a uma pessoa natural.
            </p>
            <h4 class="mb-3 fw-normal text-title lh-1">1.4. Cookies</h4>
            <p>Cookies são pequenos arquivos de texto baixados
                automaticamente em seu dispositivo quando você acessa e
                navega por um site. Eles servem, basicamente, para que seja
                possível identificar dispositivos, atividades e preferências
                de usuários. Os cookies não permitem que qualquer arquivo ou
                informação sejam extraídos do disco rígido do usuário, não
                sendo possível, ainda, que, por meio deles, se tenha acesso
                a informações pessoais que não tenham partido do usuário ou
                da forma como utiliza os recursos do site. 
            </p>
            <h4 class="mb-3 fw-normal text-title lh-1">1.4. Cookies do site</h4>
            <p>Os cookies
                do site são aqueles enviados ao computador ou dispositivo do
                usuário e administrador exclusivamente pelo site. As
                informações coletadas por meio destes cookies são utilizadas
                para melhorar e personalizar a experiência do usuário, sendo
                que alguns cookies podem, por exemplo, ser utilizados para
                lembrar as preferências e escolhas do usuário, bem como para
                o oferecimento de conteúdo personalizado. </p>
                <h4 class="mb-3 fw-normal text-title lh-1">1.4. Gestão de cookies</h4>  
            <p>O usuário poderá se opor ao registro de cookies pelo site,
                bastando que desative esta opção no seu próprio navegador.
                Mais informações sobre como fazer isso em alguns dos
                principais navegadores utilizados hoje podem ser acessadas a
                partir dos seguintes links: </p>
            <p>Internet Explorer:</p>
            <p>https://supportmicrosoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies</p>
            <p>Safari:</p>
            <p>https://supportapple.comipt-briguide/safari/sfri11471/mac</p>
            <p>Google Chrome:</p>
            <p>https://support.google.comichrome/answer/95647?hl=pt-BR&amp;hlrm=pt</p>
            <p>Mozila Firefox:</p>
            <p>https://supportmozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam</p>
            <p>Opera:</p>
            <p>https://www.opera.com/help/tutorials/security/privacy/</p>
            <p>A desativação dos cookies, no entanto, pode
                afetar a disponibilidade de algumas ferramentas e
                funcionalidades do site, comprometendo seu correto e
                esperado funcionamento. Outra consequência possível é
                remoção das preferências do usuário que eventualmente
                tiverem sido salvas, prejudicando sua experiência.
            </p>
            <h4 class="mb-3 fw-normal text-title lh-1">1.4. Coleta de dados não previstos expressamente</h4>
            <p>Eventualmente, outros tipos de dados não
                previstos expressamente nesta Política de Privacidade
                poderão ser coletados, desde que sejam fornecidos com o
                consentimento do usuário, ou, ainda, que a coleta seja
                permitida com fundamento em outra base legal prevista em
                lei.</p>
            <p>Em qualquer caso, a coleta de dados e as
                atividades de tratamento dela decorrentes serão informadas
                aos usuários do site.</p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">2. Compartilhamento de dados pessoais com terceiros</h3>
            <p>Nós não compartilhamos seus dados pessoais com terceiros. Apesar
                disso, é possível que o façamos para cumprir alguma
                determinação legal ou regulatória, ou, ainda, para cumprir
                alguma ordem expedida por autoridade pública. </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">3. Por quanto tempo seus dados pessoais serão armazenados</h3> 
            
            <p>Os dados pessoais coletados pelo site são armazenados e
                utilizados por período de tempo que corresponda ao
                necessário para atingir as finalidades elencadas neste
                documento e que considere os direitos de seus titulares, os
                direitos do controlador do site e as disposições legais ou
                regulatórias aplicáveis. </p><p>Uma vez expirados os
                períodos de armazenamento dos dados pessoais, eles são
                removidos de nossas bases de dados ou anonimizados, salvo
                nos casos em que houver a possibilidade ou a necessidade de
                armazenamento em virtude de disposição legal ou regulatória.
            </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">4. Bases legais para o tratamento de dados pessoais</h3>
            
            <p>Cada operação de tratamento de dados pessoais
                precisa ter um fundamento jurídico, ou seja, uma base legal,
                que nada mais é que uma justificativa que a autorize,
                prevista na Lei Geral de Proteção de Dados Pessoais.
            </p><p>Todas as nossas atividades de tratamento de dados
                pessoais possuem uma base legal que as fundamenta, dentre as
                permitidas pela legislação. Mais informações sobre as bases
                legais que utilizamos para operações de tratamento de dados
                pessoais específicas podem ser obtidas a partir de nossos
                canais de contato, informados ao final desta Política.
            </p>
            
            <h4 class="mb-3 fw-normal text-title lh-1">4.1. Como o titular pode exercer seus direitos</h4>
            
            <p>Os titulares de dados pessoais tratados por nós poderão
                exercer seus direitos por meio do formulário disponibilizado
                na página de contato.&nbsp; Alternativamente, se desejar, o
                titular poderá enviar um e-mail ou uma correspondência ao
                nosso Encarregado de Proteção de Dados Pessoais. As
                informações necessárias para isso estão na seção
                "Como entrar em contato conosco" desta Política de
                Privacidade.</p>
            <p>Para garantir que o usuário que pretende
                exercer seus direitos é, de fato, o titular dos dados
                pessoais objeto da requisição, poderemos solicitar
                documentos ou outras informações que possam auxiliar em sua
                correta identificação, a fim de resguardar nossos direitos e
                os direitos de terceiros. Isto somente será feito, porém, se
                for absolutamente necessário, e o requerente receberá todas
                as informações relacionadas. 
            </p>
            <h3 class="mb-3 fw-normal text-title lh-1">5. Medidas de segurança no tratamento de dados pessoais</h3> 
            <p>Empregamos medidas técnicas e organizativas aptas a
                proteger os dados pessoais de acessos não autorizados e de
                situações de destruição, perda, extravio ou alteração desses
                dados. As medidas que utilizamos levam em consideração a
                natureza dos dados, o contexto e a finalidade do tratamento,
                os riscos que uma eventual violação geraria para os direitos
                e liberdades do usuário, e os padrões atualmente empregados
                no mercado por empresas semelhantes à nossa. </p>
            
            <p>Entre as medidas de segurança adotadas por nós, destacamos as seguintes: </p>
            <p>- Os dados de nossos usuários são armazenados em ambiente seguro; </p>
            <p>- Limitamos o acesso aos dados de nossos usuários, de modo que terceiros não autorizados não possam acessá-los; </p>
            <p>- Utilizamos certificado SSL (Secure Socket Layer), de modo
                que a transmissão de dados entre os dispositivos dos
                usuários e nossos servidores aconteça de forma
                criptografada; </p>
            <p>- Mantemos registros de todos aqueles que têm, de alguma forma, contato com nossos dados.
            </p>
            
            <p>Ainda que adote tudo o que está ao seu
                alcance para evitar incidentes de segurança, é possível que
                ocorra algum problema motivado exclusivamente por um
                terceiro - como em caso de ataques de hackers ou crackers
                ou, ainda, em caso de culpa exclusiva do usuário, que
                ocorre, por exemplo, quando ele mesmo transfere seus dados a
                terceiro. Assim, embora sejamos, em geral, responsáveis
                pelos dados pessoais que tratamos, nos eximimos de
                responsabilidade caso ocorra uma situação excepcional como
                essas, sobre as quais não temos nenhum tipo de controle.
            </p>
            <p>De qualquer forma, caso ocorra qualquer tipo de incidente
                de segurança que possa gerar risco ou dano relevante para
                qualquer de nossos usuários, comunicaremos os afetados e a
                Autoridade Nacional de Proteção de Dados acerca do ocorrido,
                em conformidade com o disposto na Lei Geral de Proteção de
                Dados. </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">6. Alterações nesta política</h3> 
            <p>A presente versão desta Política de Privacidade foi atualizada pela última vez em: 11/09/2024. </p>
            <p>Reservamo-nos o direito de modificar,
                a qualquer momento, as presentes normas, especialmente para
                adaptá-las às eventuais alterações feitas em nosso site,
                seja pela disponibilização de novas funcionalidades, seja
                pela supressão ou modificação daquelas já existentes.
            </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">7. Como entrar em contato conosco</h3> 
            <p>Caso exista discordância, dúvidas, comentários sobre o aviso de
                privacidade, deverá ser enviado um e-mail para 
                <a href="mailto:{empresa->contato_email}">{empresa->contato_email}</a>.
            </p>
            <h2 class="mb-5 mt-5 fw-normal text-title lh-1">Termos de uso</h2>
            <h3 class="mb-3 fw-normal text-title lh-1">1. Termos</h3> 
            <p>Ao acessar o site da {empresa->nome}, 
                você concorda em cumprir estes termos de
                serviço, todas as leis e regulamentos aplicáveis e concorda que
                é responsável pelo cumprimento de todas as leis locais
                aplicáveis. Se você não concordar com algum desses termos, está
                proibido de usar ou acessar este site. Os materiais contidos
                neste site são protegidos pelas leis de direitos autorais e
                marcas comerciais aplicáveis. </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">2. Uso de Licença</h3>
            
            <p>É concedida permissão para baixar temporariamente
                uma cópia dos materiais (imagens e informações) do nosso site,
                apenas para visualização transitória pessoal e não comercial,
                sendo meramente ilustrativa. Esta é a concessão de uma licença,
                não uma transferência de título e, sob esta licença, você não
                pode:&nbsp;
            </p>
            <p>1 - modificar ou copiar os materiais;&nbsp;</p>
            <p>2 - usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial);&nbsp;</p>
            <p>3 - tentar descompilar ou fazer engenharia reversa de qualquer software contido em nosso site;&nbsp; </p>
            <p>4 - remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou&nbsp; </p>
            <p>5 - transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor. </p>
            <p>Esta licença será automaticamente rescindida se você violar alguma dessas
                restrições e poderá ser rescindida pela {empresa->nome} a qualquer momento. Ao
                encerrar a visualização desses materiais ou após o término desta
                licença, você deve apagar todos os materiais baixados em sua
                posse, seja em formato eletrónico ou impresso. </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">3. Isenção de responsabilidade</h3> 
            <p>1 - Os
                materiais do nosso site são fornecidos “como estão”. Não
                oferecemos garantias, expressas ou implícitas, e, por este meio,
                isenta e nega todas as outras garantias, incluindo, sem
                limitação, garantias implícitas ou condições de comercialização,
                adequação a um fim específico ou não violação de propriedade
                intelectual ou outra violação de direitos. </p><p>2 - Além
                disso, não garantimos ou fazemos qualquer representação relativa
                à precisão, aos resultados prováveis ou à confiabilidade do uso
                dos materiais em seu site ou de outra forma relacionado a esses
                materiais ou em sites vinculados a este site. </p>
            <h3 class="mb-3 fw-normal text-title lh-1">4. Limitações</h3>
            <p>Em nenhum caso seremos responsáveis, nem nossos
                fornecedores, por quaisquer danos (incluindo, sem limitação,
                danos por perda de dados ou lucro ou devido a interrupção dos
                negócios) decorrentes do uso ou da incapacidade de usar os
                materiais do nosso site, mesmo que a {empresa->nome} tenha sido notificado oralmente ou por escrito
                da possibilidade de tais danos. Como algumas jurisdições não
                permitem limitações em garantias implícitas, ou limitações de
                responsabilidade por danos conseqüentes ou incidentais, essas
                limitações podem não se aplicar a você. </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">5. Precisão dos materiais</h3> 
            <p>Os materiais exibidos
                em nosso site podem incluir erros técnicos, tipográficos ou
                fotográficos. Não garantimos que qualquer material em nosso site
                seja preciso, completo ou atual. Podemos fazer alterações nos
                materiais contidos em nosso site a qualquer momento, sem aviso
                prévio. No entanto, não nos comprometemos em mantê-los
                atualizados. </p>
            <h3 class="mb-3 fw-normal text-title lh-1">6. Links</h3> 
            
            <p>Não analisamos todos os sites vinculados ao nosso site e não
                somos responsáveis pelo conteúdo de nenhum site vinculado. A
                inclusão de qualquer link não implica nosso endosso. O uso de
                qualquer site vinculado é por conta e risco do usuário.
            </p>
            
            <h3 class="mb-3 fw-normal text-title lh-1">Modificações</h3> 
            
            <p>Podemos revisar estes termos de serviço do site a qualquer
                momento, sem aviso prévio. Ao usar este site, você concorda em
                ficar vinculado à versão atual desses termos de serviço.
            </p>
            <h3 class="mb-3 fw-normal text-title lh-1">Lei aplicável</h3> 
            
            <p>Estes termos e
                condições são regidos e interpretados de acordo com a lei e você
                se submete irrevogavelmente à jurisdição exclusiva dos tribunais
                naquele estado ou localidade.
            </p>       
        </div>
    </div>
</section>