<section class="quem-somos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h2 class="mb-5 fw-normal text-title lh-1">Quem Somos</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-9 fs-lg text-gray-500">
            <div class="col-md-8">
                <div class="text-left">
                    <h3 class="mb-3 fw-normal text-title lh-1">Institucional</h3>
                </div>
                <p class="lead mb-3">A Romão Alimentos Ltda, iniciou suas atividades em 01 de fevereiro de 1997 em Criciúma/SC sendo que anteriormente a razão social da empresa era Cereais Tanir Ltda. Em 09 de julho de 2008 a empresa muda sua razão social para Romão Alimentos Ltda.</p>
                <div class="text-left">
                    <h3 class="mb-3 fw-normal text-title lh-1">Missão</h3>
                </div>
                <p class="lead">Oferecer alimentos com qualidade, satisfazendo e fidelizando clientes, preservando o meio ambiente e promovendo o desenvolvimento econômico.</p>
                <div class="text-left">
                    <h3 class="mb-3 fw-normal text-title lh-1">Visão</h3>
                </div>
                <p class="lead">Ser  uma marca  conhecida no  Brasil,  visando sempre  mais satisfação  e fidelidade dos clientes.</p>
                <div class="text-left">
                    <h3 class="mb-3 fw-normal text-title lh-1">Valores</h3>
                </div>
                <ul class="lead">
                    <li class="lead">Ética</li>
                    <li class="lead">Eficiência</li>
                    <li class="lead">Transparência</li>
                    <li class="lead">Respeito ao Meio Ambiente</li>
                    <li class="lead">Crescimento</li>
                </ul>
                <div class="text-left">
                    <h3 class="mb-3 fw-normal text-title lh-1">Logistica</h3>
                </div>
                <p class="lead">Visando o bom atendimento aos nossos parceiros, possuimos uma frota própria. Com isso nossos produtos são distribuídos com agilidade e eficácia.</p>
            </div>
            <div class="col-md-4 mb-5">
                <img class="w-100" src="{image}" alt="quem-somos">
            </div>
        </div>
    </div>
</section>