 <table id="tabela_class" width="100%" class="table table-hover table-bordered table-sm caption-top">
    <thead>
        <tr>
            <!-- BEGIN BLOCK_COLUMNS -->
                <th width="{columns_width}">{columns_name}</th>
            <!-- END BLOCK_COLUMNS -->
        </tr>
    </thead>
    <tbody id="tableBody">
        <!-- BEGIN BLOCK_ROW -->
            <tr> 
                <!-- BEGIN BLOCK_DATA -->
                <td>{data}</td>
                <!-- END BLOCK_DATA -->
            <tr>
        <!-- END BLOCK_ROW -->
    </tbody>
</table>