<section id="wave-{name}" class="wave {name} ">
    <!-- BEGIN BLOCK_WAVE_1 -->
    <svg class="wave solido pt-{margin}" style="background-color: {color_backgroud};" xmlns="http://www.w3.org/2000/svg" width="1920" height="184" viewBox="0 0 1920 184">
        <path fill="{color}" id="cls-1-{name}" class="cls-1 {name}" d="M1920,698.608s-409.54-179-754.87-114.715C807.357,650.5,486.625,827.623,0,658v96H1920V698.608Z" transform="translate(0 -569.969)"></path>
    </svg>
    <!-- END BLOCK_WAVE_1 -->
    <!-- BEGIN BLOCK_WAVE_2 -->
    <svg class="wave solido pt-{margin}" style="background-color: {color_backgroud};" width="1920" height="184" viewBox="0 0 1920 184" xmlns="http://www.w3.org/2000/svg">
        <path fill="{color}" id="cls-2-{name}" class="cls-2 {name}" d="M 2.071 183.727 C -64.805 209.421 928.929 -125.67 1918.139 89.138 C 1925.943 90.833 1918.658 188.953 1918.57 183.399 L 2.071 183.727 Z"/>
    </svg>
    <!-- END BLOCK_WAVE_2 -->
    <!-- BEGIN BLOCK_WAVE_3 -->
    <svg class="wave linha pt-{margin}" style="background-color: {color_backgroud};" xmlns="http://www.w3.org/2000/svg" width="1920" height="184" viewBox="0 0 1920 184">
        <path fill="none" stroke="{color}" stroke-width="{width}px" stroke-dasharray="{dasharray}" id="cls-3-{name}" class="cls-3 {name}" d="M 2.071 183.727 C -64.805 209.421 928.929 -125.67 1918.139 89.138"></path>
    </svg>
    <!-- END BLOCK_WAVE_3 -->
    <!-- BEGIN BLOCK_WAVE_4 -->
    <svg class="wave linha pt-{margin}" style="background-color: {color_backgroud};" width="1920" height="184" viewBox="0 0 1920 184" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke="{color}" stroke-width="{width}px" stroke-dasharray="{dasharray}" id="cls-4-{name}" class="cls-4 {name}" d="M 1920 698.608 C 1920 698.608 1500.209 570.862 1165.13 583.893 C 801.485 598.035 486.625 827.623 0 658" transform="translate(0 -569.969)"/>
    </svg>
    <!-- END BLOCK_WAVE_4 -->
    <!-- BEGIN BLOCK_WAVE_5 -->
    <svg class="wave linha pt-{margin}" style="background-color: {color_backgroud};" width="1920" height="184" viewBox="0 0 1920 184" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke="{color}" stroke-width="{width}px" stroke-dasharray="{dasharray}" id="cls-4-{name}" class="cls-4 {name}" d="M 1912.018 574.084 C 1912.018 574.084 1652.544 653.71 1307.214 717.995 C 949.441 784.602 493.011 741.414 6.386 571.791" transform="translate(0 -569.969)"/>
    </svg>
    <!-- END BLOCK_WAVE_5 -->
    <!-- BEGIN BLOCK_WAVE_6 -->
     <svg class="wave linha pt-{margin}" style="background-color: {color_backgroud};" width="1920" height="184" viewBox="0 0 1920 184" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="none" stroke="{color}" stroke-width="{width}px" stroke-dasharray="{dasharray}" d="M 0.54 86.751 L 1917.858 89.944"/>
      </svg>
    <!-- END BLOCK_WAVE_6 -->
</section>